<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="api.dongsheng.model.mapper.TencentActivateMapper">
    <resultMap id="BaseResultMap" type="api.dongsheng.model.entity.TencentActivate">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="passport" jdbcType="VARCHAR" property="passport"/>
        <result column="channel_id" jdbcType="BIGINT" property="channelId"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
        <result column="kguser_id" jdbcType="BIGINT" property="kguserId"/>
        <result column="sn" jdbcType="BIGINT" property="sn"/>
    </resultMap>
    <sql id="Base_Column_List">
        passport,channel_id,kguser_id,token,sn
    </sql>


    <select id="getTencentActivateBySn" parameterType="java.lang.String" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tm_activate where sn = #{sn}
    </select>


    <insert id="insertTencentActivate" parameterType="api.dongsheng.model.entity.TencentActivate">
        insert into tm_activate(passport,channel_id,kguser_id,token,sn) values(#{passport},#{channelId},#{kguserId},#{token},#{sn})
    </insert>

</mapper>